### azure-pipelines.yml

trigger:
  - main

pool:
  name: 'prueba-tecnica'  # Se usa el agente self-hosted

variables:
  - group: SonarQube
  ODOO_VERSION: '16.0'
  MODULE_NAME: 'bookstore'
  SONAR_PROJECT_KEY: 'efandinop_prueba-tecnica'
  SONAR_ORG: 'efandinop'  # Organizaci칩n en SonarCloud

steps:

- script: |
    echo "Instalando dependencias..."
    sudo apt update && sudo apt install -y python3-pip
    pip3 install --upgrade pip
    pip3 install wheel
    pip3 install -r requirements.txt || true
  displayName: 'Instalar dependencias'

- script: |
    echo "Ejecutando an치lisis de SonarQube..."
    sonar-scanner \
      -Dsonar.projectKey=$(SONAR_PROJECT_KEY) \
      -Dsonar.organization=$(SONAR_ORG) \
      -Dsonar.host.url=$(SONAR_HOST_URL) \
      -Dsonar.login=$(SONAR_TOKEN)
  displayName: 'Ejecutar SonarQube'

- script: |
    echo "Ejecutando pruebas de Odoo..."
    cd /opt/odoo/odoo-server
    source odoo-venv/bin/activate
    ./odoo-bin --addons-path=addons --test-enable --log-level=test --db-filter=^testdb$ --stop-after-init
  displayName: 'Ejecutar pruebas unitarias'

- script: |
    echo "Empaquetando m칩dulo..."
    tar -czf $(Build.ArtifactStagingDirectory)/$(MODULE_NAME).tar.gz bookstore_*
  displayName: 'Empaquetar m칩dulo'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'

- script: |
    echo "Desplegando en staging..."
    sudo mkdir -p /opt/odoo/addons/
    sudo chown -R $(whoami):$(whoami) /opt/odoo/addons/
    tar -xzf $(Build.ArtifactStagingDirectory)/$(MODULE_NAME).tar.gz -C /opt/odoo/addons/
    sudo systemctl restart odoo
  displayName: 'Desplegar en Servidor Staging'
